span.button{
    padding: 2px;
    margin:5px;
    border-style: solid;
    border-width: 1px;    
}
div.content{
    width: 100%;
    align-content: stretch;
    padding: 5px;
    overflow: scroll;
    height:inherit;
}

span.button:hover{
    background-color: blue;
    color: red;
}

div.tabs{
    border: 1px;
    padding: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: dashed;
    margin: 2px;
}

.hide{
    display:none
}